<!DOCTYPE html>
<html lang="en">
	 <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Alien is an intelligent, all-in-one open-source mobile application (Android), automated security-assessment framework capable of performing static, dynamic analysis and permissions-based classification.">
		<meta name="author" content="Tommaso Fazio">
		<title>Alien - Android Security Assessment</title>
		<!-- Custom styles for this template -->
		<link href="/static/css/cover.css" rel="stylesheet">
		<link rel="icon" href="/static/favicon.ico">
	</head>
  <body>
  
	<div class="bottom-home" align="right">
		<form action="/" method="GET">
			<input type="image" src ="/static/img/home-button.png" alt="Homepage">
		</form>
	</div>
  
	<section>
		
		<br>
		<table class="table-h" align="left">
			<tr>
				<td>
					<hgroup>
						<h1 class="title-big">Alien</h1>
						<h2 class="title-normal">Dynamic Analyzer</h2>
					</hgroup>
					<p align="left">You can continue the analysis directly from the physical device.</p>
				</td>
			</tr>
			<tr>
				<td>
					<img src="/static/img/smartphone.png" alt="Smartphone" >
				</td>
				<td>
					<p>Click to finish dynamic analysis.</p>
					<form action="/StopAnalysis/" method="GET">
						<input type = "submit" value = "STOP" class="button-home" />
					</form>
				</td>
			</tr>
		</table>
		
	</section>
	
  </body>