<!DOCTYPE html>
<html lang="en">
	 <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Alien is an intelligent, all-in-one open-source mobile application (Android), automated security-assessment framework capable of performing static, dynamic analysis and permissions-based classification.">
		<meta name="author" content="Tommaso Fazio">
		<title>Alien - Android Security Assessment</title>
		<!-- Custom styles for this template -->
		<link href="/static/css/coverError.css" rel="stylesheet">
		<link rel="icon" href="/static/favicon.ico">
	</head>
  <body>
	
	<section>
		<div align="center">
			<img src="/static/img/logo-error.png" >
			<h2 class="title-normal" align="center">Error</h2>
			<p align="center">Something went wrong while using Alien. To continue press the Home button.<br /></p>
		</div></br></br>
		<form action="/" method="GET">
			<input type="image" src ="/static/img/home-button.png" alt="Homepage">
		</form>
	</section>
	
	</br></br></br></br>
	<footer class="foot-base">
		<p>&copy; Alien - Android Security Assessment {% now "Y" %}. All Rights Reserved</p>
	</footer>
	
  </body>